* 
{
    font-family: 'Comfortaa', cursive;
}

p 
{
    font-family: 'Lato', sans-serif;
    max-height: 0px;
    height: auto;
    opacity: 0;
    transition: all 2s;
}

button 
{
    background-color: Transparent;
    color: #888888; 
    outline: none;
    border: 1px;
    border-style: solid;
}

body 
{
    transition: background 1s;
    overflow-y: scroll;
    padding: 0px;
    margin: 0px;
    height: "100%";
}

img
{
    padding: 5px;
}

.information-well 
{
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    -o-animation-delay: 1s;
    -ms-animation-delay: 1s;
    animation-delay: 1s;
    border-style: none;
    overflow: hidden;
}

#title 
{
    background: Transparent; 
    height: auto;
    width: 100%;
    min-height: 90%;
    margin-bottom: 0px;
    position: static;
}

#title-text, #title-next
{
    color: #888888; 
    -webkit-animation-duration: 5s;
    -moz-animation-duration: 5s;
    -o-animation-duration: 5s;
    -ms-animation-duration: 5s;
    animation-duration: 5s;
}

#title-next 
{
    -webkit-animation-delay: 3s;
    -moz-animation-delay: 3s;
    -o-animation-delay: 3s;
    -ms-animation-delay: 3s;
    animation-delay: 3s;
}

::-webkit-scrollbar
{
  width: 12px;  /* for vertical scrollbars */
  height: 12px; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track
{
  background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb
{
  background: rgba(0, 0, 0, 0.5);
}

::-moz-selection {
    color: #aaaaaa;
    background: #555555;
}

::selection {
    color: #aaaaaa;
    background: #555555;
}
